.dashboard {
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  color: #dad8b6;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  max-width: 90%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
